@use "../config/" as *;
@use "sass:color";

.user-table-wrapper {
  overflow-x: scroll;
  max-width: 100vw;
  border: 1px solid color.change($primary-color, $alpha: 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  padding-inline: to-rem(30);
  padding-top: to-rem(30);
  padding-bottom: to-rem(39);
  margin-bottom: to-rem(20);
  min-height: to-rem(400);

  @include breakpoint-tab-small {
    margin-inline: unset;
  }
}

.user-table {
  width: 100%;

  &-filters {
    width: 270px;
    background-color: $neutral-color;
    padding: to-rem(30) to-rem(20);
    position: absolute;
    border-radius: to-rem(4);
    border: 1px solid rgba(84, 95, 125, 0.14);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    left: to-rem(-135);
    top: to-rem(30);

    & > * + * {
      margin-top: to-rem(20);
    }

    & input,
    .select {
      padding: to-rem(12) to-rem(20);
      border-radius: to-rem(8);
      border: 1px solid color.change($primary-color, $alpha: 0.2);
    }

    & .select {
      padding: to-rem(12) to-rem(20);
      -webkit-appearance: none;
      background-image: url("../../../public/images/sidenav/dropdown.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - to-rem(16)) center;
      background-size: to-rem(14);
      width: 100%;
    }

    .buttons {
      display: flex;
      gap: to-rem(14);
      padding-top: to-rem(20);
    }
  }

  & th {
    text-align: left;
    font-size: to-rem(12);
    font-weight: 600;
    text-transform: uppercase;
    padding-right: to-rem(20);
    padding-bottom: to-rem(20);

    & .heading-content {
      display: flex;
      gap: to-rem(8);
      align-items: center;

      .image-wrapper {
        width: to-rem(16);
        height: to-rem(16);
        position: relative;
        display: flex;
      }
    }
  }

  & tr + tr {
    border-top: 1px solid color.change($primary-color, $alpha: 0.1);
  }

  &-cell {
    padding-block: to-rem(22);
    padding-right: to-rem(20);
    white-space: nowrap;

    @include breakpoint-laptop {
      white-space: initial;
      max-width: to-rem(170);
      word-break: break-all;
    }

    & .image-wrapper {
      margin-left: auto;
      margin-right: to-rem(-10);
      width: to-rem(20);
      height: to-rem(20);
      cursor: pointer;
    }
  }
}

.user-table-functions {
  margin-bottom: to-rem(70);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: to-rem(20);

  @include breakpoint-tab-small {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }
  & .expand {
    display: flex;
    gap: to-rem(10);
    align-items: center;

    & select {
      outline: none;
      border: none;
      padding: to-rem(7) to-rem(0) to-rem(7) to-rem(12);
      border-radius: to-rem(4);
      width: to-rem(80);
      background-color: color.change($primary-color, $alpha: 0.1);
      border-right: to-rem(16) solid transparent;
      font-weight: 500;
    }
  }

  & .paginate {
    display: flex;
    gap: 1rem;
    .image-wrapper {
      width: to-rem(24);
      height: to-rem(24);
      background-color: color.change($primary-color, $alpha: 0.1);
      border-radius: to-rem(4);
      padding: to-rem(5);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .visible-cells {
      margin-left: to-rem(10);
      background-color: transparent;
      padding: 0;
      cursor: pointer;
    }

    & .active {
      color: $primary-color;
    }

    & .inactive {
      opacity: 0.5;
    }
  }
}

.action-tooltip-menu {
  padding: to-rem(20);
  min-width: to-rem(200);
  font-weight: 500;
  &-item {
    display: flex;
    gap: to-rem(8);
    align-items: center;
  }

  &-item + &-item {
    margin-top: to-rem(10);
  }

  .menu-image-wrapper {
    width: to-rem(16);
    height: to-rem(16);
  }
}

.mantine-Menu-dropdown {
  border-radius: to-rem(4) !important;
  border: 1px solid rgba(84, 95, 125, 0.14) !important;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04) !important;
}
