$primary-color: #213f7d;
$on-primary-color: #545f7d;
$secondary-color: #39cdcc;
$neutral-color: #ffffff;
$neutral-two-color: #fbfbfb;
$accent-one-color: #e4033b;
$accent-two-color: #e9b200;
$accent-three-color: #39cd62;
$accent-four-color: #df18ff;
$accent-five-color: #5718ff;
$accent-six-color: #f55f44;
$accent-seven-color: #ff3366;
